@model Item
<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden>
    <div class="container">
        <div>
            <h2 class="text-primary">Delete Product From List </h2>
        </div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>

        <div>
            <label asp-for="ProductPrice"></label>
            <input asp-for="ProductPrice" disabled class="form-control" />

        </div>

    </div>

    <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
    <a asp-controller="Item" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</a>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}