@model Item
<form method="post" asp-action="Edit">
    <div class="container">
        <div>
            <h2 class="text-primary">Edit new Product </h2>
        </div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="ProductPrice"></label>
            <input asp-for="ProductPrice" class="form-control" />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>

    </div>

    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
    <a asp-controller="Item" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</a>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}